*{
    box-sizing: border-box;
}
body{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100vh;
    overflow: hidden;
}

.stop_watch span{
    font-size: 10vw;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}
.buttons button{
    background-color: rgba(49, 47, 47, 0.6);
    border: 1px solid rgba(49, 47, 47, 0.9);
    color: white;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin: 0 10px;
    cursor: pointer;
}
.buttons button.start{
    background-color: rgba(4, 66, 13, 0.6);
    border: 1px solid rgba(28, 144, 2, 0.9);
    color: yellowgreen;
}
.buttons button.stop{
    background-color: rgba(111, 26, 0, 0.6);
    border: 1px solid rgba(111, 26, 0, 0.9);
    color: red;
}